<div id="header" class="header flex-row box-shadow">
    <div class="header_left">
        <span class="header_text">Kanban Project Management Tool</span>
    </div>
    <div class="header_right flex-row">
        <i id="help_link" class='bx bx-question-mark curser' onclick="toggleTwoElements('help_link', 'help_includer')">
        </i>
        <div id="header_initial" class="header_initials grid curser" onclick="stopPropagation(event); openHeaderMenu()">
        </div>
    </div>
    <a id="header_menu" class="curser d-none" onclick="stopPropagation(event); logout()">Log out</a>
</div>