<div class="leg_notice_container impressum">
    <h1>Impressum</h1>
    <h2>Information according to § 5 TMG</h2>
    <div class="contact flex-column">
        <div>Philipp Grabowski<br />Flo&szlig;platz 34<br />04107 Leipzig</div>
        <div class="info">
            <div class="info_row">
                <div class="info_row flex-row">
                    <i class='bx bx-phone'></i>
                    <span>015221899075</span>
                </div>
                <div class="info_row flex-row">
                    <i class='bx bx-envelope'></i>
                    <span>swmmcboss90@web.de</span>
                </div>
            </div>
        </div>
    </div>
    <p class="source">Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>