@media (max-width: 1516px) {
    .task_progress_header {
        height: 50px;
    }
}

@media (max-width: 1439px) {
    .board_container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0px;
    }
    .task_progress_container {
        padding-bottom: 30px;
    }
    .task_progress_list {
        padding-bottom: 5px;
    }
}

@media (max-width: 1096px) {
    .content {
        padding: 89px 0 0 180px;
    }
    .search_container {
        position: absolute;
        left: 0;
        bottom: -85px;
    }
    .content_container {
        width: calc(100vw - 180px);
        padding: 80px 35px 0 70px;
    }
}

@media (max-width: 1096px) or (max-height: 1000px) {
    .content_header_container {
        margin-bottom: 105px;
        position: relative;
    }
    .board_container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }
    .task_progress_container {
        height: min-content;
        padding-bottom: 0px;
    }
    .task {
        min-width: 250px;
        max-width: 400px;
        height: fit-content;
    }
    .task_progress_list {
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        flex-direction: row;
        padding-bottom: 15px;
    }
    #done_container {
        margin-bottom: 35px;
    }
}

@media (max-width: 768px) {
    .content_container {
        padding: 82px 20px 0px 20px;
    }
    .content_header_headline {
        font-size: var(--font-size-47);
    }
    #task_information {
        width: clamp(468px, 77.5vw, 1116px);
        left: calc(50vw - 38.75vw);
    }
}

@media (min-width: 670px) and (max-height: 700px) {
    .content_container {
        padding: 42px 20px 0 20px;
    }
}

@media (min-width: 768px) and (max-height: 700px) {
    .content_container {
        padding: 42px 35px 0 70px;
    }
}

@media (min-width: 1096px) and (max-height: 700px) {
    .content_container {
        padding: 42px 70px 0 120px;
    }
}

@media (max-width: 670px) {
    .content {
        padding: 89px 0 0 90px;
    }
    .content_container {
        width: calc(100vw - 90px);
        padding: 0px 20px 0px 20px;
    }
    .content_header_container {
        flex-direction: column;
    }
    #board_mobile_join_headline {
        display: unset;
        margin-bottom: 20px;
        margin-top: 35px;
    }
    #search_input,
    .search_container {
      width: 100%;
    }
    #add_task_button {
        padding: 1px;
    }
    #add_task_button span {
        display: none;
    }
    #add_task_button i {
        font-size: var(--font-size-36);
    }
    .task,
    .dragbox-shadow  {
        min-width: calc(100vw - 140px);
    }
    #task_information .initial_container {
        width: 40px;
        height: 40px;
    }
    #task_information .initials {
        font-size: var(--font-size-16);;
    }
    #edit_title {
        height: 41px;
        font-size: var(--font-size-16);
    }
    .add_task_container input, #task_info_edit_container input {
        font-size: var(--font-size-16);
    }
    .checkmark:after {
        top: 12px;
    }
    .team_member_name,
    #task_info_container p,
    .task_info_subcontainer,
    #task_info_subtasks_container > span,
    #task_info_container > span:last-of-type
    .task_info_subtask_list_container span:last-of-type {
        font-size: var(--font-size-16);
    }
    #task_info_category {
        font-size: 20px;
    }
    #task_info_container h1 {
        font-size: var(--font-size-36);
    }
}

@media (max-width: 602px) {
    #task_information {
        left: calc(50vw - 234px);
    }
}

@media (min-width: 468px) {
    #back_arrow {
        display: none;
    }
}

@media (max-width: 468px) {
    .content {
        padding: 79px 0px 35px 0px;
        height: calc(100vh - 80px);
        height: calc(100svh - 80px);
    }
    .content_container::-webkit-scrollbar {
        display: none;
    }
    .content_container {
        width: 100%;
        height: calc(100vh - 169px);
        height: calc(100svh - 169px);
        padding: 0px 5.8vw;
    }
    .task_progress_list {
        padding-top: 0px;
    }
    .task,
    .dragbox-shadow  {
        min-width: calc(100vw - 15vw);
    }
    .board_content_header {
        margin-top: 50px;
    }
    .content_header_headline {
        margin-top: 0px;
        font-size: var(--font-size-36);
    }
    #board_mobile_join_headline {
        display: none;
    }
    #search_container {
        height: 41px;
        font-size: var(--font-size-16);
    }
    .add_task_link_container:hover{
        border: 2px solid var(--black-color);
    }
    .add_task_link_container:hover i {
        color: var(--black-color);
    }
    .add_task_link_container:active {
        border: 2px solid var(--blue-color);
    }
    .add_task_link_container:active i {
        color: var(--blue-color);
    }
    #done_container {
        margin-bottom: 0px;
    }
    #add_task_button:hover {
        background-color: var(--darkBlue-color);
        border-color: var(--darkBlue-color);
        box-shadow: unset;
    }
    #add_task_button:active {
        background-color: var(--blue-color);
        border-color: var(--blue-color);
        box-shadow: unset;
    }
    #task_information {
        width: 100vw;
        height: calc(100vh - 161px);
        height: calc(100svh - 161px);
        padding: 50px 5vw 0px 5vw;
        background: var(--white2-color);
        top: 81px;
        left: 0px;
        z-index: 5;
        border-radius: 0px;
    }
    .task_info_button_container {
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        align-items: flex-end;
        width: fit-content;
        right: 5vw;
    }
    .trash_container {
        border-right: 1px solid;
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }
    .edit_container {
        border-radius: 10px;
    }
    .buttonOption2:hover {
        background-color: var(--darkBlue-color);
        box-shadow: unset;
    }
    .buttonOption2:active {
        background-color: var(--blue-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    #task_information > i:first-of-type {
        display: none;
    }
    #task_info_edit_container {
        padding-bottom: 20px;
    }
    #back_arrow {
        display: unset;
    }
    .edit_container:hover {
        background-color: var(--darkBlue-color);
    }
    .edit_container:active {
        background-color: var(--blue-color);
    }
    #closeX:hover {
        background-color: inherit;
    }
    #closeX:active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-height: 1000px) {
    .content_header_container {
        margin-bottom: 100px;
    }
}